<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for Restraunte in type %}
{% if Restraunte.City == ""%}
<hr size="3" color="black">
<h2>NAME: <i>{{Restraunte.Restaurant_Name}}</i></h2><h3>
    </h3></inline>
<br>
<b>ADDRESS:</b> <i> {{Restraunte.Address}}</i>
<br>
<b>ID:</b><i>{{Restraunte.Restaurant_ID}}</i>
<br>
<b>LANDMARK:</b><i>{{Restraunte.Locality_Verbose}}</i>
<br>
<b>LONGITUDE:</b> <i>{{Restraunte.Longitude}}</i>
<br>
<b>LATITUDE:</b> <i>{{Restraunte.Latitude}}</i>
<br>
<b>CUISINES:</b> <i>{{Restraunte.Cuisines}}</i>
<br>
<b>AVERAGE COST FOR TWO PERSONS:</b> <i>{{Restraunte.Average_Cost_for_two}}</i>
<br>
<b>TABLE AVAILABLITY:</b> <i> {{Restraunte.Has_Table_booking}</i>
<br>
<b>ONLINE DELIVERY:</b> <i>{{Restraunte.Has_Online_delivery}}</i>
<br>
<b>PRICE RANGE:</b> <i>{{Restraunte.Price_range}}</i>
<br>
<b>STAR RATING:</b> <i> {{Restraunte.Rating_text}}</i><br>
<b>PEOPLE WHO RECOMMENDED THIS:</b> <i>{{Restraunte.Votes}}</i><br>
<hr size="3" color="black">
{% endif %}
{% endif %}
{% endfor %}





</body>
</html>