<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW DELHI</title>
</head>
<body>
<font color="white">
    {% load static %}
<body background="{% static 'images/16.jpg' %}" alt="sd" width="4256" height="2832">

{% for Restraunte in type %}
{% if Restraunte.City == "New Delhi"%}
<hr size="3" color="black">
<h2>NAME: <i>{{Restraunte.Restaurant_Name}}</i></h2><h3>
    </h3></inline>
<br>
<b>ADDRESS:</b> <i> {{Restraunte.Address}}</i>
<br>
<b>ID:</b><i>{{Restraunte.Restaurant_ID}}</i>
<br>
<b>LANDMARK:</b><i>{{Restraunte.Locality_Verbose}}</i>
<br>
<b>LONGITUDE:</b> <i>{{Restraunte.Longitude}}</i>
<br>
<b>LATITUDE:</b> <i>{{Restraunte.Latitude}}</i>
<br>
<b>CUISINES:</b> <i>{{Restraunte.Cuisines}}</i>
<br>
<b>AVERAGE COST FOR TWO PERSONS:</b> <i>{{Restraunte.Average_Cost_for_two}}</i>
<br>
<b>TABLE AVAILABLITY:</b> <i> {{Restraunte.Has_Table_booking}</i>
<br>
<b>ONLINE DELIVERY:</b> <i>{{Restraunte.Has_Online_delivery}}</i>
<br>
<b>PRICE RANGE:</b> <i>{{Restraunte.Price_range}}</i>
<br>
<b>STAR RATING:</b> <i> {{Restraunte.Rating_text}}</i><br>
<b>PEOPLE WHO RECOMMENDED THIS:</b> <i>{{Restraunte.Votes}}</i><br>
<hr size="3" color="black">
{% endif %}
{% endfor %}

<style>

    .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

</style>

 <div class="navbar">
  <a href="home">Home</a>
  <a href="food">Book</a>
  <a href="aboutus">Contact</a>
</div>

<inline class="main">
<inline class="main">




</body>
</html>