<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Page</title>
</head>
<body>
<img>
<font color="white">
<div class="flex-container">
<hr size="3" color="blue">
{% load static %}
<body background="{% static 'images/9.jpg' %}" alt="sd" width="4256" height="2832">

<style>

    .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

</style>

 <div class="navbar">
  <a href="home">Home</a>
  <a href="food">Book</a>
  <a href="aboutus">Contact</a>
</div>

<inline class="main">
<inline class="main">







<style>
#grad1 {
  width:auto;
  height: 130px;
  background-color: #cccccc;
  background-image: radial-gradient(brown,black);
}
</style>






{% for Restraunte in type %}
<div id="grad1">
<br><inline><center>
    <h2>NAME:{{Restraunte.Restaurant_Name}}</h2>

  <h3>
    </h3></inline>

<b>ADDRESS:</b> <i> {{Restraunte.Address}}</i>
<br>
<b>LONGITUDE:</b> <i>{{Restraunte.Longitude}}</i>
<b>LATITUDE:</b> <i>{{Restraunte.Latitude}}</i>
<br>
    </center>
<!--<b>CUISINES:</b> <i>{{Restraunte.Cuisines}}</i>-->
<!--<br>-->
<!--<b>AVERAGE COST FOR TWO PERSONS:</b> <i>{{Restraunte.Average_Cost_for_two}}</i>-->
<!--<br>-->
<!--<b>TABLE AVAILABLITY:</b> <i> {{Restraunte.Has_Table_booking}</i>-->
<!--<br>-->
<!--<b>ONLINE DELIVERY:</b> <i>{{Restraunte.Has_Online_delivery}}</i>-->
<!--<br>-->
<!--<b>PRICE RANGE:</b> <i>{{Restraunte.Price_range}}</i>-->
<!--<br>-->
<!--<b>STAR RATING:</b> <i>{{Restraunte.Aggregate_rating}} {{Restraunte.Rating_text}}</i><br>-->
<!--<b>PEOPLE WHO RECOMMENDED THIS:</b> <i>{{Restraunte.Votes}}</i><br>-->
<hr size="3" color="black">
    </div>
    <br>
    <br>
{% endfor %}
</div>
    </font>
</body>
</html>