<!doctype html>
<html>
<head>

{% load static %}
      <title>Minor Project </title>
 <link  href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css">
 <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
     </script>

	  </head>
	  	  <body>

	   <div>
	   <center>
	     <img src="{% static 'images/R.jpeg' %}" width="297" height="299" alt=""/>
         <P>
         <font size="100" color="white">
	     <h1> Réstro</h1>
         </font>
         </p>
	   </center>
<style>
.navbar {
    overflow: hidden;
    background-color: #Efya9;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>


	   <div class="search-box">
	     <form action="/search" method="get"><center> <select name="finderfield">
             <option value="Name">Name</option>
             <option value="Address">Address</option>
             <option value="Rating">Rating</option>
         </select> <input class="search-txt" type="text" name="finder" placeholder="Search Restaurant">
             <button type="submit" name="sea" class="search-btn">
		    <i class="fas fa-search">
		    </i>
                 </button>
         </form>
		 </center>
	     </div>
           <br>
           <br><!--search-box-->
   <div class="navbar">
  <a href="/home">Home</a>
  <a href="/book">Book an Oder</a>
       <a href="/suggest">Suggestions</a>

  <div class="dropdown">
    <button class="dropbtn">Food Available in
      <i class="fa fa-caret-down"></i>
    </button>


    <div class="dropdown-content">
        <a href="/N">Noida</a>
        <a href="/D" >New Delhi</a>
        <a href="/G">Gurgaon</a>
          </form>
    </div>
  </div>
       <a href="/aboutus">Contact Us</a>
</div>

	   <div id="content">

<br>

           <style>
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="{% static 'images/3.jpg' %}" style="width:100%">
  <div class="text">The Selection of best Food on town</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="{% static 'images/2.jpg' %}" style="width:100%">
  <div class="text">Divine experience and divine taste</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{% static 'images/1.jpg' %}" style="width:100%">
  <div class="text">Quality and Quantity</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 10000); // Change image every 2 seconds
}
</script>






	   <div id="navigation" align="middle">
       <P>
         <font size="6">
	        <u><h2> About us </h2></u>
            </font>
            </P>
            <P>
         <font size="4">
			<p> We Use ML algorithims such as SVR and Regression to provide various output models and give the specific restraunts according to their capabilites and their price point</p>
            </font>
            </P>
            <P>
         <font size="6">
			<u><h2> Vision </h2></u>
            </font>
            </P>
            <P>
         <font size="4">
			<p>We look Froward to become one of the top company in the field of analytics bieng implemented in field pf online fooodin industry the analytics will empower user to make efficent choices for the restraunte he choosses to dine in or take his food from</p>
            </font>
            </P>
	   </div> <!--navigation-->

	   <div id="footer" align="middle">
       <P>
         <font size="6">
       <u><h2>Team</h2></u>
       </font>
       </P>
       <P>
         <font size="4">
	     <p><strong> Aashish Gautam <br>
	       Aashish Kumar Kapil <br>
	       Anubhooti <br>
	       Bandeep Kataria</strong></p>
           </font>
           </P>
	   </div>
<!--footer-->

	   </div> <!--container-->

	  </body>
</html>