<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<style>
#grad1 {
  height: 320px;
  background-color: #cccccc;
  background-image: radial-gradient(blue,white);
}

#grad2 {
  height: 320px;
  background-color: #cccccc;
  background-image: radial-gradient(blue,black);
  }
</style>

{% for sen in type %}
{% if sen.Topic=="Positive" %}
<div id="grad1">
    <!--<h2>{{sen.Topic}}</h2>-->
    <!--<h2>{{sen.Topic}}</h2>-->
    <!--<h2>{{sen.Topic}}</h2>-->
    <h2>{{sen.Topic}}</h2>
</div>
{% endif %}

{% if sen.Topic=="Negitive" %}
<div id="grad2">
    <h2>{{sen.Topic}}</h2>
    <!--<h2>{{sen.Topic}}</h2>-->
    <!--<h2>{{sen.Topic}}</h2>-->
    <!--<h2>{{sen.Topic}}</h2>-->
</div>
{% endif %}
{% endfor %}

//NAvigation bar
<style>

    .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

</style>

 <div class="navbar">
  <a href="home">Home</a>
  <a href="tweet">tweet</a>
  <a href="analysis">Contact</a>
</div>

<inline class="main">
<inline class="main">








<h1>hello</h1>
</body>
</html>