body,
html{
	min-hieght:100%;
}
body {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	background-image: url(../images/1.jpg);
	background-repeat:t;
	background-size:contain;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
	
}


#container{
	background-image: url(../images/10.jpg);
	background-position: left center;
	background-repeat:no-repeat;
	width: 700px;
	margin:auto;
	padding: 131px;
	
}


#search-box{
	position: center;
	top: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}
#search-box:hover > #search-txt{
	width:240px;
	padding: 240 6px;
}


#search-box:hover > #search-btn{
	background: white;
}
#search-btn{
	color: #e84118;
	float:right;
	width: 40px;
	height: 40px;
	border-radius:50%;
	background:#2f3640;
	display:flex;
	justify-content:center;
	align-items: center;
	transition: 0.4s;
}

#search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
}

#content{
	background-image: url(../images/10.JPG);
	background-position: left center
	background-repeat: no-repeat;
	backrounnd-size: cover;
	margin: auto;
	padding : 10px 38px 10px 20px;
	width: 500
	float: center;
	border-right: 2px solid #E2E5B6;
}

#navigation{
	background-image:url(../images/10.jpg);
	margin: auto;
	padding: 10px 20px 10px 20px;
	float: center;
	width: 1000px
	height:50%;
	border:1px #666solid;
	text-align:center;
	background-color:#E2E5B6;
}

#footer{
	margin-left:auto;
	margin-right:auto;
	padding-top: 2px;
	padding-left:10px;
	padding-bottom:2px;
	color: #00;
	background-image: url(../images/10.jpg);
	background-position: left center

	/* Add a black background color to the top navigation */

}